<p>
  <strong>Rule: </strong>
  <%= @bages_rule.rule %>
</p>

<p>
  <strong>Bage title: </strong>
  <%= @bages_rule.bage.title %>
</p>

<p>
  <strong>Condition title: </strong>
  <%= @bages_rule.condition.title %>
</p>

<%= link_to 'Edit', edit_admin_bages_rule_path(@bages_rule) %> |
<%= link_to 'Back', admin_bages_rules_path %>


