<h1><%= t('.header') %></h1>
<p>
  <%= link_to t('.new'), new_admin_bage_path, class: "btn btn-primary" %>
</p>

<table class="table">
  <tr>
    <th scope="col"><%= t('.id') %></th>
    <th scope="col", class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th scope="col"><%= t('.url_picture') %></th>
    <th scope="col" colspan="3"><%= t('.action') %></th>
  </tr>
  <%= render @bages %>
</table>
