<p>
  <strong>Title: </strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level: </strong>
  <%= @test.level %>
</p>
<%= link_to 'Edit', edit_admin_test_path(@test) %> |
<%= link_to 'Back', admin_tests_path %>
<h2>Questons</h2>
<table>
  <tr>
    <th>Body: </th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render @test.questions %>
  <%#= render partial: 'admin/questions/question', collection: @test.questions %>
</table>
<%= link_to 'New Question', new_admin_test_question_path(@test) %>

<%#= render 'questions/form' %>

