<div class="card">
  <div class="card-header">
    <h1><%= t('.header') %></h1>
  </div>
  <div class="card-body">
    <table class= "table">
      <tr>
        <th scope="col"><%= t('.id') %></th>
        <th scope="col", class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.count') %></th>
        <th scope="col"><%= t('.action') %></th>
      </tr>
      <%= render @tests %>
    </table>
  </div>
</div>
