<!DOCTYPE html>
<html>
  <head>
    <title>Testguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
      <p class='nav user'>
        <%= link_to 'TestGuru', root_path %>
        <%= link_to 'Sign up',  new_user_registration_path %> | <%= link_to 'Login', new_user_session_path %> | 
        <% if user_signed_in?%>
          Welcome, <b><%= current_user.email %></b> Guru | 
          | <%= link_to 'Logout', destroy_user_session_path(current_user), method: :delete %></p>
        <% end %>
      </p>
    </div>

    <%= render 'shared/flash' %>

    <%= yield %>
    <div id="futter">
      <hr>
      <p><%= year %>год <%= github_url('Сытин Николай Борисович', 'https://github.com/kokdot') %> </p>
      <p>Данный проект реализует учебную задачу по тестированию пользователей в различных областях знаний.</p>
      <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', "http://thinknetica.com", target: "_blank" %></p>
    </div>
  </body>
</html>
