<!DOCTYPE html>
<html>
  <head>
    <title>Testguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id="futter">
      <hr>
      <p><%= year %>год <%= github_url('Сытин Николай Борисович', 'https://github.com/kokdot') %> </p>
      <p>Данный проект реализует учебную задачу по тестированию пользователей в различных областях знаний.</p>
      <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', "http://thinknetica.com", target: "_blank" %></p>
    </div>
  </body>
</html>
